.wel{
	font-size: 5em !important;
}

#reviews{
	padding-top: 3%;
}
#peek{
	width:43%;
}
#faq{
    background: linear-gradient( rgba(31, 40, 173, 0.72), rgba(0, 63, 204, 0.76) ), url(https://images.pexels.com/photos/414105/pexels-photo-414105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
}
#sale{
	min-width: 595px;
	position: absolute;
	top:66px;
	right:-150px;
	background: #e6c824;
	height: 120px;
	z-index: 1000;
	transform: rotate(38deg);
	box-shadow: -10px 9px 20px 0px #584242d9;
	text-align: center;
	color: white;
	padding-top:2%
}
.ui.accordion .title:not(.ui){
    padding: .5em 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 3em;
    color: white;
}

@media only screen and (max-width: 950px){
	#sale{
		display: none;
	}
}
@media only screen and (max-width: 500px){
	.wel{
		font-size: 3em;
	}
}